ul{
    padding-left:0;
    }
     
li {
    list-style: none;
    display: inline;
    padding-right: 10px;
    }



.title {
    position: relative;
    font-family: 'myFirstFont',cursive;
    color: rgb(8,77,110);
    backdrop-filter: blur(10px);
}