.body{
    background-image: url('./../../img/background2.jpg');
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center center;
    width: 862px;
    height: 445px;
}

.title {
    position: relative;
    font-family: 'myFirstFont',cursive;
    color: rgb(209, 196, 196);
}

.container{

    height: auto;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
    border-radius: 20px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px;
}

.filter{

    margin: 1px;
}


.containerForm{
    display: flex;
}

.form button, .addActivityButton input{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 3px;
    border-radius: 5px ;

}

.form button:hover, .addActivityButton input:hover{
    box-shadow: 2px 2px 5px black;
}


.form{

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
    height: 150px;
}

.form select, .form button{
    width: max-content;
}

.subContainerForm{
    display: inline-flex;
    flex-direction: row;
    margin: 5px;
}
.labelContainer{
    display: flex;
    padding-right: 10px;
    height: 25px;
}

.labelContainer input[name='days']{

    margin-right: 10px;
}
.countries{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 50%;

}
.countryCard{
    display: inline-flex;
    font-size: 15px;    
}

.countries .errors{
    justify-self: center;
    align-self: center;
    position: relative;
    top: -35px;
    font-size: 10px;
}

.errors{
    padding-right: 5px;
    font-size: 10px;
    color:red;
    text-shadow: 1px 1px black;
}

div[name="duration"] input{
    width: 50px;
}

.subtitle{
    font-style: oblique;
    padding-right: 10px;
}


.addActivityButton input:disabled {
    background-color: rgb(84, 85, 85,0.5);
    box-shadow: none;
}

select option{
    background-color: rgba(0, 0, 0, 0.5);
}

