input{
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(209, 196, 196);
    background-color: transparent;
    color:rgb(209, 196, 196);
}

input::placeholder{
    color:rgb(209, 196, 196);
    padding-left: 3px;
}

